/* CSS declarations go here */
.fadeinout {
    -webkit-animation: fadeinout 4s linear infinite;
    animation: fadeinout 4s linear infinite;
}

@-webkit-keyframes fadeinout {
    0% { opacity: .15; }
    50% { opacity: 1; }
    100% { opacity: .15; }
}

@keyframes fadeinout {
    0% { opacity: .15; }
    50% { opacity: 1; }
    100% { opacity: .15; }
}

.fadetransition {
    -webkit-animation: fadetransition .5s linear 1;
    animation: fadetransition .5s linear 1;
}

@-webkit-keyframes fadetransition {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadetransition {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.blink {
    -webkit-animation: blinker 1s step-start infinite;
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}